<p>
    <h2>IES Services Provided</h2>
</p>

<p>
    IES Professionals can Build/Install/Manage any variations
    of the Security Products listed below...., </p>

<ul>
    <li>Incident Response For Outbreaks Zero-Day Events</li>
    <li>Anti-Virus Console - Build AV Console and Configure Client Policies </li>
    <li>Build/Manage Proxy/Gateway &amp; URL Filtering Appliance</li>
    <li>Email - Spam &amp; Content Filtering for MS Exchange</li>
    <li>Install and Configure the Client Policies for Data-Loss Prevention</li>
    <li>Install and Configure the Client Policies for Application and Device Control</li>
    <li>Vulnerability Scanning - for Regulatory and Security Standards, SOX, HIPPA, Etc.</li>

</ul>
