
@{


    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>*@

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    @*<script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>*@


    ViewBag.Title = "ComplexityCalc3";
}

<h2>ComplexityCalc3</h2>
<div class="container">
    <div class="container" style="align-items:center">

        <div class="price-box">
            <h3>Product Component Calculator</h3>

            <div class="row">
              
                    <form class="form-horizontal form-pricing" role="form">

                        
                            <div class="price-slider">
                                <h4 class="great">Unit of Work</h4>
                                <span>How much "Time" does it take to perform Task/Function each time...?</span>
                                <span> - In 15 Minute increments - </span>
                                <div class="row">.</div>
                                <div class="col-sm-12">
                                    <div id="slider"></div>
                                </div>
                            </div>
                            <div class="price-slider">
                                <h4 class="great">Complexity</h4>
                                <span>Measure against the (Whole) Core Product or Service</span>
                                <span>..............., Easy................. Medium................. Hard................, Dificult......., Complex</span>
                                <div class="row">.</div>
                                <div class="col-sm-12">
                                    <div id="slider2"></div>
                                </div>
                            </div>

                            <div class="price-slider">
                                <h4 class="great">Frequency</h4>
                                <span>Repeatability: How many Times per Week</span>
                                <div class="col-sm-12">
                                    <div id="slider3"></div>
                                </div>
                            </div>

                        <div class="price-form">
                            <div class="form-group">
                                <label for="amount" class="col-sm-6 control-label">Unit Of Work): </label>
                                <span class="help-text">How long does it take to Complete</span>
                                <div class="col-sm-6">
                                    <input type="hidden" id="amount" class="form-control">
                                    <p class="price lead" id="amount-label"></p>
                                    <span class="price">. Hours</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="duration" class="col-sm-6 control-label">Complexity: </label>
                                <span class="help-text">How Hard/Easy to Perform:</span>
                                <div class="col-sm-6">
                                    <input type="hidden" id="duration" class="form-control">
                                    <p class="price lead" id="duration-label"></p>
                                    <span class="price">Effort - "Easy to Hard"</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="frequency" class="col-sm-6 control-label">Frequency: </label>
                                <span class="help-text">How many Time Per Week</span>
                                <div class="col-sm-6">
                                    <input type="hidden" id="frequency" class="form-control">
                                    <p class="price lead" id="frequency-label"></p>
                                    <span class="price"> Times</span>
                                </div>
                            </div>

                            <hr class="style">
                            <div class="form-group total">
                                <label for="total" class="col-sm-6 control-label"><strong>Total: </strong></label>
                                <span class="help-text">Total Component's Hours</span>
                                <div class="col-sm-6">
                                    <input type="hidden" id="total" class="form-control">
                                    <p class="price lead" id="total-label"></p>
                                    <span class="price">: Hours</span>
                                </div>
                            </div>
                        </div>
                    </form>
                

                <div class="col-6">
                    
                </div>

            </div>
        </div>
    </div>



</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    @*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>*@
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>

    @*Code to Block Use of "Enter Key" from saving or entering Records*@
    <script>
        $(document).keypress(function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
    </script>

    @*Style for Slider*@
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .price-box {
            margin: 0 auto;
            background: #E9E9E9;
            border-radius: 10px;
            padding: 4px 3px;
            width: 500px;
        }

        .ui-widget-content {
            border: 1px solid #bdc3c7;
            background: #e1e1e1;
            color: #222222;
            margin-top: 4px;
        }

        .ui-slider .ui-slider-handle {
            position: absolute;
            z-index: 2;
            width: 5.2em;
            height: 2.2em;
            cursor: default;
            margin: 0 -40px auto !important;
            text-align: center;
            line-height: 30px;
            color: #FFFFFF;
            font-size: 15px;
        }

            .ui-slider .ui-slider-handle .glyphicon {
                color: #FFFFFF;
                margin: 0 3px;
                font-size: 11px;
                opacity: 0.5;
            }

        .ui-corner-all {
            border-radius: 20px;
        }

        .ui-slider-horizontal .ui-slider-handle {
            top: -.9em;
        }

        .ui-state-default,
        .ui-widget-content .ui-state-default {
            border: 1px solid #f9f9f9;
            background: #3498db;
        }

        .ui-slider-horizontal .ui-slider-handle {
            margin-left: -0.5em;
        }

        .ui-slider .ui-slider-handle {
            cursor: pointer;
        }

        .ui-slider a,
        .ui-slider a:focus {
            cursor: pointer;
            outline: none;
        }

        .price, .lead p {
            font-weight: 500;
            font-size: 32px;
            display: inline-block;
            line-height: 60px;
        }

        h4.great {
            background: #00ac98;
            margin: 0 0 25px -60px;
            padding: 7px 15px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            display: inline-block;
            -moz-box-shadow: 2px 4px 5px 0 #ccc;
            -webkit-box-shadow: 2px 4px 5px 0 #ccc;
            box-shadow: 2px 4px 5px 0 #ccc;
        }

        .total {
            border-bottom: 1px solid #7f8c8d;
            /*display: inline;
        padding: 10px 5px;*/
            position: relative;
            padding-bottom: 20px;
        }

            .total:before {
                content: "";
                display: inline;
                position: absolute;
                left: 0;
                bottom: 5px;
                width: 100%;
                height: 3px;
                background: #7f8c8d;
                opacity: 0.5;
            }

        .price-slider {
            margin-bottom: 70px;
        }

            .price-slider span {
                font-weight: 200;
                display: inline-block;
                color: #7f8c8d;
                font-size: 13px;
            }

        .form-pricing {
            background: #ffffff;
            padding: 20px;
            border-radius: 4px;
        }

        .price-form {
            background: #ffffff;
            margin-bottom: 10px;
            padding: 20px;
            border: 1px solid #eeeeee;
            border-radius: 4px;
            /*-moz-box-shadow:    0 5px 5px 0 #ccc;
        -webkit-box-shadow: 0 5px 5px 0 #ccc;
        box-shadow:         0 5px 5px 0 #ccc;*/
        }

        .form-group {
            margin-bottom: 0;
        }

            .form-group span.price {
                font-weight: 200;
                display: inline-block;
                color: #7f8c8d;
                font-size: 14px;
            }

        .help-text {
            display: block;
            margin-top: 32px;
            margin-bottom: 10px;
            color: #737373;
            position: absolute;
            /*margin-left: 20px;*/
            font-weight: 200;
            text-align: right;
            width: 188px;
        }

        .price-form label {
            font-weight: 200;
            font-size: 21px;
        }

        img.payment {
            display: block;
            margin-left: auto;
            margin-right: auto
        }

        .ui-slider-range-min {
            background: #2980b9;
        }

        /* HR */

        hr.style {
            margin-top: 0;
            border: 0;
            border-bottom: 1px dashed #ccc;
            background: #999;
        }
    </style>

    @*Slider Control*@
    <script>
        $(document).ready(function () {
            $("#slider").slider({
                animate: true,
                value: 0,
                min: 0,
                max: 24,
                step: .25,
                slide: function (event, ui) {
                    update(1, ui.value); //changed
                }
            });

            $("#slider2").slider({
                animate: true,
                value: 0,
                min: 1.0,
                max: 5.0,
                step: 0.5,
                slide: function (event, ui) {
                    update(2, ui.value); //changed
                }
            });

            $("#slider3").slider({
                animate: true,
                value: 0,
                min: 0,
                max: 168,
                step: 1,
                slide: function (event, ui) {
                    update(3, ui.value); //changed
                }
            });

            //Added, set initial value.
            $("#amount").val(0);
            $("#duration").val(0);
            $("#frequency").val(0);
            $("#amount-label").text(0);
            $("#duration-label").text(0);
            $("#frequency-label").text(0);

            update();
        });

        //changed. now with parameter
        function update(slider, val) {
            //changed. Now, directly take value from ui.value. if not set (initial, will use current value.)
            var $amount = slider == 1 ? val : $("#amount").val();
            var $duration = slider == 2 ? val : $("#duration").val();
            var $frequency = slider == 3 ? val : $("#frequency").val();

            /* commented
            $amount = $( "#slider" ).slider( "value" );
            $duration = $( "#slider2" ).slider( "value" );
            */

            $total = " " + ($amount * $duration) * $frequency;
            $("#amount").val($amount);
            $("#amount-label").text($amount);
            $("#duration").val($duration);
            $("#duration-label").text($duration);
            $("#frequency").val($frequency);
            $("#frequency-label").text($frequency);
            $("#total").val($total);
            $("#total-label").text($total);

            $('#slider a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> ' + $amount + ' <span class="glyphicon glyphicon-chevron-right"></span></label>');
            $('#slider2 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> ' + $duration + ' <span class="glyphicon glyphicon-chevron-right"></span></label>');
            $('#slider3 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> ' + $frequency + ' <span class="glyphicon glyphicon-chevron-right"></span></label>');
        }


    </script>
}

